* {
	box-sizing: border-box;
}

article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
main, 
nav-selection, 
section, 
summary {
display: block;
}

/*TEMPORARY BORDER*/
div {
	/*border: 1px solid black;*/
	/*height: 500px;*/
}

/*CLEARFIX*/

/*.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.container {
  background-color: #eaeaed;
  *zoom: 1;
}*/


/*HOMEPAGE LAYOUT*/
.homepage {
	background-color: #FFF8EA;
}
.main {
	bottom: 3.5em;
	left: 10%;
	position: absolute;
	right: 10%;
	top: 5em;
	z-index: 1;

}

.main img {
	width: 100%;
	height: 100%;
	max-width: 900px;
	position: relative;
	margin: auto;
	display: block;
	z-index: 2;
}

.footer {
	left: 35px;
	right: 35px;
	display: block;
	position: fixed;
	width: auto;
	bottom: 25px;
	border-bottom: solid 1px #082419;
	padding-bottom: 10px;
	z-index: 3;
		
}

.header {
	left: 35px;
	right: 35px;
	display: block;
	position: fixed;
	width: auto;
	top: 25px;
	padding-top: 10px;
	border-top: solid 1px #082419;
	z-index: 4;
}

.logo,
.info {
	float: left;
	z-index: 5;
	
}

.work,
.blog {
	float:right;
	z-index: 6;
	
}

.fatface {
	font-size: 2.75em;
	line-height: .85em;
	font-family: 'Abril Fatface', cursive;
	color:#082419;
}

.fatface a {
	text-decoration: none;
}

.fatface a:visited {
	color: #082419;
	text-decoration: none;
}
/*==========================================INSIDE PAGE LAYOUT====================*/

/*=====================MAIN NAV=======================*/

@media screen and (max-width: 960px) {

.nav-main {
	width: 100%;
	border: 1px solid black;
}

.inner-nav {
	min-width: 160px;
	margin-top: 50px;
	display: block;
	overflow: hidden;
	/*width: 100%;*/
	text-align: center;
	

}

.inner-nav ul {
	margin: auto;
	padding: 0 0 0 0px;
}
.menu-pages li {
	display: inline-block;
	margin: 0 1% 0 1%;
	padding: 0 0 0 0px;
	font-size: 1.5em;
	line-height: .95em;
	font-family: 'Abril Fatface', cursive;

}

}


@media screen and (min-width: 960px) {
	.nav-main {
  width: 16.625%;
  float: left;
  display: block;
  border: 1px solid black;

}

/*to position nav items*/
.inner-nav {
	min-width: 140px;
	margin-top: 185px;
	display: block;
	overflow: hidden;
	width: 100%;
}
  .menu-pages li {
	text-align: right;
	font-size: 2.25em;
	line-height: .95em;
	font-family: 'Abril Fatface', cursive;
	position: relative;
	padding-right: 4%;
	color: #FFFFFF;
	margin-left: -50px;
}
}



.menu-pages {
	list-style-type: none;
}



.menu-pages li a {
	text-decoration: none;
}

/*============================MAIN CONTENT SECTION=============================*/

@media screen and (max-width: 960px) {
.content-main {
  width: 100%;
  /*float: left;*/
  /*margin-right: 1.17%;*/
  /*border-left: solid 2px #D8D8D8;*/
  border: 1px solid black;
  /*box-sizing: border-box;*/
}
}


@media screen and (min-width: 960px) {
.content-main {
  width: 73.632812%;
  float: left;
  /*margin-right: 1.17%;*/
  /*border-left: solid 2px #D8D8D8;*/
  border: 1px solid black;
  /*box-sizing: border-box;*/
}
}


/*==================================RIGHT-SIDE NAV===========================*/
@media screen and (max-width: 960px) {
.nav-selection {
  width: 100%;
  /*float: left;*/
  border: 1px solid black;
  /*box-sizing: border-box;*/
}
}

@media screen and (min-width: 960px) {
.nav-selection {
  width: 9.7421875%;
  float: left;
  border: 1px solid black;
  /*box-sizing: border-box;*/
}
}

/*=================BLOG===========*/

@media screen and (max-width: 800px) {
	article.blog-post,
	article.portfolio-item {
	width: 100%;
	margin: auto;
	overflow: hidden;
	/*padding: -3%;*/

}
article.blog-post img,
article.portfolio-item img {
	width: 100%;
	margin: 30px 0 0;

}
}

@media screen and (min-width: 800px) {
article.blog-post {
	width: 70.38%;
	margin: auto;
	overflow: hidden;
	padding: -3%;

}
article.blog-post img {
	width: 100%;
	margin: 30px 0 0;

}
}

/*=================PORTFOLIO ITEM===========*/

@media screen and (min-width: 800px) {
	article.portfolio-item {
	padding-left: 2%;
	padding-right: 2%;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

article.portfolio-item p {
	width: 57.687%;
	float: right;
	clear: both;
}

article.portfolio-item img {
	width: 100%%;
	float: left;
	clear: both;
	margin-left: -74%;
	margin-top: 10px;
	margin-bottom: 10px;
}
}
