body {
	font-size: 1em;
	font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
}

h1 {
font-family: "futura-pt",sans-serif;
font-size: 45px;
color: #4A4A4A;
line-height: 60px;
font-weight: 500;
font-style: normal;
}

h2 {
font-family: "futura-pt",sans-serif;
font-size: 18px;
color: #4A4A4A;
line-height: 44px;
font-weight: 500;
font-style: regular;

}

p {
font-size: 16px;
color: #4A4A4A;
line-height: 20px;
font-family: "brandon-grotesque",sans-serif;
font-style: normal;
font-weight: 400;
}

.post-body a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: "futura-pt",sans-serif;
	font-weight: 500;
	font-style: regular;
}

blockquote p{
	margin-top:1em;
	margin-bottom:1em;
	padding-left:1.2em;
	border-left:2px solid #eee;
	color:#999d9e;
	line-height:1.25em
	}
blockquote.pullquote p{
	border-left:none;padding-left:0;
	color:#7abf26;
	font-size:2.125em;
	font-weight:300
}