@import "bourbon/bourbon";
@import "variables";
@import "neat/neat";

//MOBILE BREAKPOINTS

$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(min-width 974px);

//RESPONSIVE BASE GRID

.wrapper {
	@include outer-container;
	
	.nav-main {
		@include media($desktop) {
			@include span-columns(2);
		}
	}

	.content-main {
		@include media($desktop) {
			@include span-columns(9);
		}
	}

	.nav-selection {
		@include media($desktop) {
			@include span-columns(1);
		}
	}
}


//RESPONSIVE MAIN NAV

.inner-nav {
	min-width: 160px;
	border: solid 1px black;
	display: block;
	text-align: center;
	//overflow: hidden;
		@include media($desktop) {
			text-align: right;
			margin-top: 150px;
		}
	ul {
		position: relative;
	
	  li {
		display: inline-block;
		margin: 0 1% 0 1%;
		font-size: 2.5em;
		line-height: .95em;
		font-family: 'Abril Fatface', cursive;
		color: #231F20;
			@include media($desktop) {
				margin-left: -50px;
				display: block;
			}
			a {
			text-decoration: none;
			}

			a:visited {
			text-decoration: none;
			color: #231F20;
			}
		}
	}
}	

//SIDEBAR CONTENT

//SIDEBAR NAV

.post-nav ul {
	margin: auto;
	display: block;
	text-align: center;
		@include media($desktop) {
			margin-top: 200px;
		}
	li {
		list-style-type: none;
	}
}		

//SIDEBAR MESSAGE


//POST CONTENT AREA
.post-date {
	border: solid 1px black;
	@include media($desktop) {
			@include span-columns(2 of 9);
			//@include omega();
		}
}

.post-title { 
	@include media($desktop) {
		@include span-columns(6 of 9);
		@include shift(3);
		//@include omega();
	}
}

.post-body {
	@include media($desktop) {
		@include span-columns(7 of 9);
		@include shift(1);
		//@include omega();
	}
}
