{% capture content %}

{% for post in posts limit:20 %}
<article class="post-preview wrapper">

	<img class="work-pic" src="../images/{{post.meta['workpic']}}" />

  <h2><a href="{{post.url}}">{{post.title}}</a></h2>

  <p>{{post.body | strip_html | truncatewords: 35}}</p>

  <nav class="see-more"><a href="{{post.url}}">more ></a></nav>
  
</article>
{% endfor %}

{% endcapture %}

{% capture sidebar_content %}
    <div class="side_blurb"><p>I love research, writing and design. Check out my <a href="/images/resume.pdf">resume</a> or <a href="mailto:kcrawford29@gmail.com">email me.</a></div>
{% endcapture %}

{% include 'layouts/default' %}