html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, yellow 0, yellow 6.17215%, transparent 6.17215%, transparent 8.5298%, yellow 8.5298%, yellow 14.70196%, transparent 14.70196%, transparent 17.05961%, yellow 17.05961%, yellow 23.23176%, transparent 23.23176%, transparent 25.58941%, yellow 25.58941%, yellow 31.76157%, transparent 31.76157%, transparent 34.11922%, yellow 34.11922%, yellow 40.29137%, transparent 40.29137%, transparent 42.64902%, yellow 42.64902%, yellow 48.82117%, transparent 48.82117%, transparent 51.17883%, yellow 51.17883%, yellow 57.35098%, transparent 57.35098%, transparent 59.70863%, yellow 59.70863%, yellow 65.88078%, transparent 65.88078%, transparent 68.23843%, yellow 68.23843%, yellow 74.41059%, transparent 74.41059%, transparent 76.76824%, yellow 76.76824%, yellow 82.94039%, transparent 82.94039%, transparent 85.29804%, yellow 85.29804%, yellow 91.4702%, transparent 91.4702%, transparent 93.82785%, yellow 93.82785%, yellow 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, yellow 0, yellow 6.17215%, transparent 6.17215%, transparent 8.5298%, yellow 8.5298%, yellow 14.70196%, transparent 14.70196%, transparent 17.05961%, yellow 17.05961%, yellow 23.23176%, transparent 23.23176%, transparent 25.58941%, yellow 25.58941%, yellow 31.76157%, transparent 31.76157%, transparent 34.11922%, yellow 34.11922%, yellow 40.29137%, transparent 40.29137%, transparent 42.64902%, yellow 42.64902%, yellow 48.82117%, transparent 48.82117%, transparent 51.17883%, yellow 51.17883%, yellow 57.35098%, transparent 57.35098%, transparent 59.70863%, yellow 59.70863%, yellow 65.88078%, transparent 65.88078%, transparent 68.23843%, yellow 68.23843%, yellow 74.41059%, transparent 74.41059%, transparent 76.76824%, yellow 76.76824%, yellow 82.94039%, transparent 82.94039%, transparent 85.29804%, yellow 85.29804%, yellow 91.4702%, transparent 91.4702%, transparent 93.82785%, yellow 93.82785%, yellow 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, yellow 0, yellow 6.17215%, transparent 6.17215%, transparent 8.5298%, yellow 8.5298%, yellow 14.70196%, transparent 14.70196%, transparent 17.05961%, yellow 17.05961%, yellow 23.23176%, transparent 23.23176%, transparent 25.58941%, yellow 25.58941%, yellow 31.76157%, transparent 31.76157%, transparent 34.11922%, yellow 34.11922%, yellow 40.29137%, transparent 40.29137%, transparent 42.64902%, yellow 42.64902%, yellow 48.82117%, transparent 48.82117%, transparent 51.17883%, yellow 51.17883%, yellow 57.35098%, transparent 57.35098%, transparent 59.70863%, yellow 59.70863%, yellow 65.88078%, transparent 65.88078%, transparent 68.23843%, yellow 68.23843%, yellow 74.41059%, transparent 74.41059%, transparent 76.76824%, yellow 76.76824%, yellow 82.94039%, transparent 82.94039%, transparent 85.29804%, yellow 85.29804%, yellow 91.4702%, transparent 91.4702%, transparent 93.82785%, yellow 93.82785%, yellow 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, yellow 0, yellow 6.17215%, transparent 6.17215%, transparent 8.5298%, yellow 8.5298%, yellow 14.70196%, transparent 14.70196%, transparent 17.05961%, yellow 17.05961%, yellow 23.23176%, transparent 23.23176%, transparent 25.58941%, yellow 25.58941%, yellow 31.76157%, transparent 31.76157%, transparent 34.11922%, yellow 34.11922%, yellow 40.29137%, transparent 40.29137%, transparent 42.64902%, yellow 42.64902%, yellow 48.82117%, transparent 48.82117%, transparent 51.17883%, yellow 51.17883%, yellow 57.35098%, transparent 57.35098%, transparent 59.70863%, yellow 59.70863%, yellow 65.88078%, transparent 65.88078%, transparent 68.23843%, yellow 68.23843%, yellow 74.41059%, transparent 74.41059%, transparent 76.76824%, yellow 76.76824%, yellow 82.94039%, transparent 82.94039%, transparent 85.29804%, yellow 85.29804%, yellow 91.4702%, transparent 91.4702%, transparent 93.82785%, yellow 93.82785%, yellow 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, yellow 0, yellow 6.17215%, transparent 6.17215%, transparent 8.5298%, yellow 8.5298%, yellow 14.70196%, transparent 14.70196%, transparent 17.05961%, yellow 17.05961%, yellow 23.23176%, transparent 23.23176%, transparent 25.58941%, yellow 25.58941%, yellow 31.76157%, transparent 31.76157%, transparent 34.11922%, yellow 34.11922%, yellow 40.29137%, transparent 40.29137%, transparent 42.64902%, yellow 42.64902%, yellow 48.82117%, transparent 48.82117%, transparent 51.17883%, yellow 51.17883%, yellow 57.35098%, transparent 57.35098%, transparent 59.70863%, yellow 59.70863%, yellow 65.88078%, transparent 65.88078%, transparent 68.23843%, yellow 68.23843%, yellow 74.41059%, transparent 74.41059%, transparent 76.76824%, yellow 76.76824%, yellow 82.94039%, transparent 82.94039%, transparent 85.29804%, yellow 85.29804%, yellow 91.4702%, transparent 91.4702%, transparent 93.82785%, yellow 93.82785%, yellow 100.0%, transparent 100.0%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 68em;
  opacity: 0.3;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 9999; }

.wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 974px) {
    .wrapper .nav-main {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .wrapper .nav-main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 974px) {
    .wrapper .content-main {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .wrapper .content-main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 974px) {
    .wrapper .nav-selection {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 6.17215%; }
      .wrapper .nav-selection:last-child {
        margin-right: 0; } }

.inner-nav {
  min-width: 160px;
  border: solid 1px black;
  display: block;
  text-align: center; }
  @media screen and (min-width: 974px) {
    .inner-nav {
      text-align: right;
      margin-top: 150px; } }
  .inner-nav ul {
    position: relative; }
    .inner-nav ul li {
      display: inline-block;
      margin: 0 1% 0 1%;
      font-size: 2.5em;
      line-height: .95em;
      font-family: 'Abril Fatface', cursive;
      color: #231F20; }
      @media screen and (min-width: 974px) {
        .inner-nav ul li {
          margin-left: -50px;
          display: block; } }
      .inner-nav ul li a {
        text-decoration: none; }
      .inner-nav ul li a:visited {
        text-decoration: none;
        color: #231F20; }

.post-nav ul {
  margin: auto;
  display: block;
  text-align: center; }
  @media screen and (min-width: 974px) {
    .post-nav ul {
      margin-top: 200px; } }
  .post-nav ul li {
    list-style-type: none; }

/*# sourceMappingURL=style.css.map */
