html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.wrapper {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 985px) {
    .wrapper .nav-main {
      float: left;
      display: block;
      margin-right: 2.6738%;
      width: 12.29947%;
      margin-right: 1.1%;
      margin-left: 1%; }
      .wrapper .nav-main:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 985px) {
    .wrapper .content-main {
      margin: 0 3% 0 3%; } }
  @media screen and (min-width: 985px) {
    .wrapper .content-main {
      float: left;
      display: block;
      margin-right: 2.6738%;
      width: 76.47059%;
      border-left: 1px solid #D8D8D8;
      border-right: 1px solid #D8D8D8;
      padding: 0 .75% 0 .75%;
      margin-right: 0%; }
      .wrapper .content-main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 985px) {
    .wrapper .nav-selection {
      float: left;
      display: block;
      margin-right: 2.6738%;
      width: 5.88235%; }
      .wrapper .nav-selection:last-child {
        margin-right: 0; } }

.homepage {
  background-color: #CB8672; }

.main {
  bottom: 3.5em;
  left: 10%;
  position: absolute;
  right: 10%;
  top: 5em;
  z-index: 1;
  max-width: 900px;
  margin: auto; }
  .main img.shape_one {
    width: 41.169%;
    height: 92.875%;
    position: absolute;
    top: 3.75%;
    left: 0%;
    z-index: 12; }
  .main img.shape_two {
    width: 40.53367%;
    height: 60.125%;
    left: 21.34689%;
    top: 0.75%;
    position: absolute;
    z-index: 11; }
  .main img.shape_three {
    width: 41.169%;
    height: 60.625%;
    position: absolute;
    right: 0%;
    top: 1.125%;
    z-index: 10; }
  .main img.shape_four {
    width: 40.40661%;
    height: 60%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: 9; }
  .main img.shape_five {
    width: 40.40661%;
    height: 59.875%;
    position: absolute;
    top: 0.75%;
    left: 0.88945%;
    z-index: 8; }
  .main img.shape_six {
    width: 40.40661%;
    height: 60%;
    position: absolute;
    bottom: 0.75%;
    left: 22.10928%;
    z-index: 7; }
  .main img.shape_seven {
    width: 40.40661%;
    height: 60%;
    position: absolute;
    top: 0.875%;
    right: 19.18679%;
    z-index: 6; }
  .main img.shape_eight {
    width: 40.40661%;
    height: 59.875%;
    position: absolute;
    top: 0%;
    right: 0.88945%;
    z-index: 5; }
  .main img.shape_nine {
    width: 40.40661%;
    height: 59.875%;
    position: absolute;
    bottom: 0.375%;
    right: 18.0432%;
    z-index: 4; }
  .main img.shape_ten {
    width: 40.40661%;
    height: 60%;
    position: absolute;
    right: 0.63532%;
    bottom: 3.125%;
    z-index: 3; }
  .main img.shape_eleven {
    width: 40.40661%;
    height: 60%;
    position: absolute;
    bottom: 3.125%;
    right: 0.25413%;
    z-index: 2; }
  .main img:hover {
    opacity: 0.8;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */ }

.main img {
  width: 100%;
  height: 100%;
  max-width: 900px;
  position: relative;
  margin: auto;
  display: block;
  z-index: 2; }

.footer {
  left: 35px;
  right: 35px;
  display: block;
  position: fixed;
  width: auto;
  bottom: 25px;
  border-bottom: solid 1px #082419;
  padding-bottom: 10px;
  z-index: 13; }

.header {
  left: 35px;
  right: 35px;
  display: block;
  position: fixed;
  width: auto;
  top: 25px;
  padding-top: 10px;
  border-top: solid 1px #082419;
  z-index: 14; }

.logo,
.info {
  float: left;
  z-index: 15; }

.work,
.blog {
  float: right;
  z-index: 16; }

.fatface {
  font-size: 2.75em;
  line-height: .8em;
  font-family: 'Abril Fatface', cursive;
  color: #082419; }
  @media screen and (max-width: 500px) {
    .fatface {
      font-size: 1.75em; } }

.fatface {
  text-decoration: none; }
  .fatface a:link,
  .fatface a:visited,
  .fatface a:hover,
  .fatface a:active,
  .fatface a:focus,
  .fatface a:visited {
    color: #082419;
    text-decoration: none; }

.inner-nav {
  display: block; }
  @media screen and (min-width: 985px) {
    .inner-nav {
      text-align: right;
      margin-top: 150px; } }
  .inner-nav ul {
    position: relative; }
    @media screen and (max-width: 985px) {
      .inner-nav ul {
        text-align: center;
        padding: 0 0 0 0px;
        margin: 0 0 0 0px; } }
    .inner-nav ul li {
      display: inline-block;
      margin: 30px 5% 0 5%;
      font-size: 1.5em;
      line-height: .95em;
      font-family: 'Abril Fatface', cursive;
      color: #231F20; }
      @media screen and (max-width: 500px) {
        .inner-nav ul li {
          font-size: 1em; } }
      @media screen and (min-width: 985px) {
        .inner-nav ul li {
          margin-top: 0px;
          margin-left: -50px;
          display: block;
          font-size: 2em;
          line-height: .95em;
          position: relative;
          margin-right: -1%; } }
      @media screen and (min-width: 1212px) {
        .inner-nav ul li {
          font-size: 2.3em;
          margin-left: -50px;
          margin-right: -1%; } }

.inner-nav ul li {
  color: #082419;
  text-decoration: none; }
  .inner-nav ul li a:link,
  .inner-nav ul li a:visited,
  .inner-nav ul li a:hover,
  .inner-nav ul li a:active,
  .inner-nav ul li a:focus,
  .inner-nav ul li a:visited {
    color: #082419;
    text-decoration: none; }

.post-nav ul {
  display: block;
  text-align: center; }
  @media screen and (min-width: 985px) {
    .post-nav ul {
      margin-top: 250px; } }
  .post-nav ul li {
    list-style-type: none; }

.work-title {
  margin-top: 18px;
  margin-left: 1%;
  padding-bottom: 6px;
  border-bottom: 1.5px solid black;
  display: inline-block;
  font-size: 1.25em; }

article.portfolio-item {
  float: left;
  display: block;
  margin-right: 3.59712%;
  width: 100%; }
  article.portfolio-item:last-child {
    margin-right: 0; }
  @media screen and (min-width: 800px) {
    article.portfolio-item {
      padding-left: 33.85417px; } }
  article.portfolio-item p:first-child {
    float: left;
    display: block;
    margin-right: 3.59712%;
    width: 100%;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-left: -2.8777%; }
    article.portfolio-item p:first-child:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      article.portfolio-item p:first-child {
        width: 100%;
        margin: auto; } }
  @media screen and (min-width: 800px) {
    article.portfolio-item p,
    article.portfolio-item h2,
    article.portfolio-item blockquote {
      float: left;
      display: block;
      margin-right: 3.59712%;
      width: 65.46763%;
      margin-left: 34.53237%; }
      article.portfolio-item p:last-child,
      article.portfolio-item h2:last-child,
      article.portfolio-item blockquote:last-child {
        margin-right: 0; } }
  article.portfolio-item img {
    width: 100%; }
    @media screen and (min-width: 800px) {
      article.portfolio-item img {
        float: left;
        display: block;
        margin-right: 3.59712%;
        width: 100%;
        margin-left: -57.55396%; }
        article.portfolio-item img:last-child {
          margin-right: 0; } }

#about p {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  @media screen and (max-width: 500px) {
    #about p {
      width: 100%;
      margin-left: 0%;
      margin-right: 0%; } }
#about img {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  @media screen and (max-width: 500px) {
    #about img {
      width: 100%;
      margin-left: 0%;
      margin-right: 0%; } }

/*.blog-post {
	@include outer-container;
	@include span-columns(9 of 9);
	border: solid 1px black;
		.date-inner {
			@include fill-parent();
			@include row(table);
			border-bottom: solid 1px black;
			margin-top: 5%;
			margin-left: 3%;
			padding-bottom: 10px;
			border-bottom: 1px solid #979797;
			font-family: "futura-pt",sans-serif;
			font-weight: 500;
			font-size: 1em;
			font-style: normal;
}
}


.post-title { 
	@include row(table);
		h1 {
		@include media($mid) {
		@include span-columns(5 of 9);
		@include shift(4);
	    }
	}
}

.post-body {
	@include outer-container;
	@include span-columns(7 of 9);
	@include shift(1);
	@include row(table);
		//@include omega();
	p {
		margin-bottom: 1.7rem;
	}
	img {
		width: 100%;
		margin-bottom: 1.7rem;
		margin-top: 1.7rem;
	}
}*/
article.blog-post {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }
  article.blog-post::after {
    clear: both;
    content: "";
    display: table; }
  article.blog-post .date {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed; }
    article.blog-post .date .date-inner {
      /*display: inline;
      margin-top: 5%;
      margin-left: 3%;
      padding-bottom: 10px;
      border-bottom: 1px solid #979797;
      font-family: "futura-pt",sans-serif;
      font-weight: 500;
      font-size: 1em;
      font-style: normal;*/
      margin-top: 18px;
      margin-left: 1%;
      padding-bottom: 6px;
      border-bottom: 1.5px solid black;
      display: inline-block;
      font-size: 1.25em;
      font-family: "futura-pt",sans-serif;
      font-weight: 500; }
  article.blog-post .blog-post-title {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed; }
    article.blog-post .blog-post-title h1 {
      margin: 30px 0 30px 50%;
      width: 55.70117%; }
      @media screen and (max-width: 800px) {
        article.blog-post .blog-post-title h1 {
          width: 90%;
          margin-left: auto;
          margin-right: auto; } }

.blog-post-body {
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
  width: 70.38%;
  margin: auto; }
  @media screen and (max-width: 800px) {
    .blog-post-body {
      width: 90%; } }
  .blog-post-body p {
    margin-top: 18px;
    margin-bottom: 18px; }

/*.work-title {
	margin-top: 20px;
	margin-left: 1%;
	padding-bottom: 10px;
	border-bottom: 2px solid black; 
	display: inline-block;
}

article.portfolio-item {
	//@include outer-countainer;
	@include span-columns(9 of 9);
		@include media($mid) {
			padding-left: $gutter;
			}
		p:first-child {
			@include span-columns (9 of 9);
   			font-family: "futura-pt",sans-serif;
   			font-weight: 400;
   			font-style: italic; 
   			@include shift(-.25)
		}

		p {
			@include media($mid) {
				@include span-columns(6 of 9);
				@include shift(3);
			}

		}
		img {
			width: 100%;
			@include media($mid) {
				@include span-columns(9 of 9);
				@include shift(-5)
			}
		}		
}
*/
.post-preview {
  margin-right: 2%;
  margin-left: 2%;
  border-bottom: solid black 1px; }
  .post-preview h2 a {
    text-decoration: none; }
  .post-preview h2 a:link,
  .post-preview h2 a:visited,
  .post-preview h2 a:hover,
  .post-preview h2 a:active,
  .post-preview h2 a:focus,
  .post-preview h2 a:visited {
    text-decoration: none;
    color: #231F20; }
  .post-preview img {
    width: 100%; }

.post-preview nav.see-more {
  text-transform: uppercase;
  margin: 1.5% 0 2% 0; }
  .post-preview nav.see-more a,
  .post-preview nav.see-more a:link,
  .post-preview nav.see-more a:visited,
  .post-preview nav.see-more a:hover,
  .post-preview nav.see-more a:active,
  .post-preview nav.see-more a:focus,
  .post-preview nav.see-more a:visited {
    color: #082419;
    text-decoration: none; }

body {
  font-size: 1em;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 400; }

h1 {
  font-family: "futura-pt",sans-serif;
  font-size: 2.75em;
  color: #4A4A4A;
  line-height: 60px;
  font-weight: 500;
  font-style: normal; }

h2 {
  font-family: "futura-pt",sans-serif;
  font-size: 1em;
  color: #4A4A4A;
  line-height: 44px;
  font-weight: 500;
  font-style: regular; }

p {
  font-size: 1.2em;
  color: #4A4A4A;
  line-height: 1.4em;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 400; }

.side_blurb {
  padding-left: 10%;
  padding-right: 10%; }
  @media screen and (max-width: 985px) {
    .side_blurb {
      text-align: center; } }

.post-body a,
.post-body a:link,
.post-body a:visited,
.post-body a:hover,
.post-body a:active,
.post-body a:focus,
.post-body a:visited,
.post-tile h2 a,
.post-tile h2 a:link,
.post-tile h2 a:visited,
.post-tile h2 a:hover,
.post-tile h2 a:active,
.post-tile h2 a:focus,
.post-tile h2 a:visited,
.side_blurb a,
.side_blurb a:link,
.side_blurb a:visited,
.side_blurb a:hover,
.side_blurb a:active,
.side_blurb a:focus,
.side_blurb a:visited,
.portfolio-item a,
.portfolio-item a:link,
.portfolio-item a:visited,
.portfolio-item a:hover,
.portfolio-item a:active,
.portfolio-item a:focus,
.portfolio-item a:visited,
.blog-post-body a,
.blog-post-body a:link,
.blog-post-body a:visited,
.blog-post-body a:hover,
.blog-post-body a:active,
.blog-post-body a:focus,
.blog-post-body a:visited {
  color: #231F20;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "futura-pt",sans-serif;
  font-weight: 500;
  font-style: regular !important;
  font-size: 1em; }

blockquote p {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1.2em;
  border-left: 2px solid #eee;
  color: #999d9e;
  line-height: 1.25em;
  font-family: "futura-pt",sans-serif;
  font-weight: 500;
  font-style: italic; }

blockquote.pullquote p {
  border-left: none;
  padding-left: 0;
  color: #7abf26;
  font-size: 2.125em;
  font-weight: 300;
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-style: italic; }

#content {
  /*width: 980px;*/
  /*width: 95%;*/
  width: auto;
  margin: 0 auto; }

.item {
  display: block;
  float: left;
  width: 300px;
  margin: 0 20px 20px 0;
  -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  transition: left .4s ease-in-out, top .4s ease-in-out .4s; }

.featured {
  width: 620px; }

.item img {
  width: 300px;
  height: auto; }

.featured img {
  width: 620px;
  height: auto; }

/*# sourceMappingURL=style.css.map */
