html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header {
  width: 100%;
  height: 185px;
  border-bottom: 1px solid #D8D8D8;
  display: block;
  position: relative; }
  header h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    display: block; }

.wrapper {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 985px) {
    .wrapper .nav-main {
      float: left;
      display: block;
      margin-right: 2.6738%;
      width: 12.29947%;
      margin-right: 1.1%;
      margin-left: 1%; }
      .wrapper .nav-main:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 985px) {
    .wrapper .content-main {
      margin: 0 3% 0 3%; } }
  @media screen and (min-width: 985px) {
    .wrapper .content-main {
      float: left;
      display: block;
      margin-right: 2.6738%;
      width: 76.47059%;
      border-left: 1px solid #D8D8D8;
      border-right: 1px solid #D8D8D8;
      padding: 0 .75% 0 .75%;
      margin-right: 0%; }
      .wrapper .content-main:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 985px) {
    .wrapper .nav-selection {
      float: left;
      display: block;
      margin-right: 2.6738%;
      width: 5.88235%; }
      .wrapper .nav-selection:last-child {
        margin-right: 0; } }

.homepage {
  background-color: #CB8672; }

.main {
  bottom: 3.5em;
  left: 10%;
  position: absolute;
  right: 10%;
  top: 5em;
  z-index: 1;
  max-width: 875px;
  margin: auto; }
  .main img.shape_one {
    width: 41.169%;
    height: 92.875%;
    position: absolute;
    top: 3.75%;
    left: 0%;
    z-index: 12; }
  .main img.shape_two {
    width: 40.53367%;
    height: 60.125%;
    left: 21.34689%;
    top: 0.75%;
    position: absolute;
    z-index: 11; }
  .main img.shape_three {
    width: 41.169%;
    height: 60.625%;
    position: absolute;
    right: 0%;
    top: 1.125%;
    z-index: 10; }
  .main img.shape_four {
    width: 40.40661%;
    height: 60%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    z-index: 9; }
  .main img.shape_five {
    width: 40.40661%;
    height: 59.875%;
    position: absolute;
    top: 0.75%;
    left: 0.88945%;
    z-index: 8; }
  .main img.shape_six {
    width: 40.40661%;
    height: 60%;
    position: absolute;
    bottom: 0.75%;
    left: 22.10928%;
    z-index: 7; }
  .main img.shape_seven {
    width: 40.40661%;
    height: 60%;
    position: absolute;
    top: 0.875%;
    right: 19.18679%;
    z-index: 6; }
  .main img.shape_eight {
    width: 40.40661%;
    height: 59.875%;
    position: absolute;
    top: 0%;
    right: 0.88945%;
    z-index: 5; }
  .main img.shape_nine {
    width: 40.40661%;
    height: 59.875%;
    position: absolute;
    bottom: 0.375%;
    right: 18.0432%;
    z-index: 4; }
  .main img.shape_ten {
    width: 40.40661%;
    height: 60%;
    position: absolute;
    right: 0.63532%;
    bottom: 3.125%;
    z-index: 3; }
  .main img.shape_eleven {
    width: 40.40661%;
    height: 60%;
    position: absolute;
    bottom: 3.125%;
    right: 0.25413%;
    z-index: 2; }
  .main img:hover {
    opacity: 0.8;
    filter: alpha(opacity=100);
    /* For IE8 and earlier */ }

.main img {
  width: 100%;
  height: 100%;
  max-width: 900px;
  position: relative;
  margin: auto;
  display: block;
  z-index: 2; }

.footer {
  left: 35px;
  right: 35px;
  display: block;
  position: fixed;
  width: auto;
  bottom: 25px;
  border-bottom: solid 1px #082419;
  padding-bottom: 10px;
  z-index: 13; }

.header {
  left: 35px;
  right: 35px;
  display: block;
  position: fixed;
  width: auto;
  top: 25px;
  padding-top: 10px;
  border-top: solid 1px #082419;
  z-index: 14; }

.logo,
.info {
  float: left;
  z-index: 15; }

.work,
.blog {
  float: right;
  z-index: 16; }

.fatface {
  font-size: 2.75em;
  line-height: .8em;
  font-family: 'Abril Fatface', cursive;
  color: #1C112B; }
  @media screen and (max-width: 550px) {
    .fatface {
      font-size: 1.75em; } }

.fatface {
  text-decoration: none; }
  .fatface a:link,
  .fatface a:visited,
  .fatface a:active,
  .fatface a:focus,
  .fatface a:visited {
    color: #082419;
    text-decoration: none; }
  .fatface a:hover {
    color: #C6DDD6; }

.inner-nav {
  display: block; }
  @media screen and (min-width: 985px) {
    .inner-nav {
      text-align: right;
      margin-top: 150px; } }
  .inner-nav ul {
    position: relative; }
    @media screen and (max-width: 985px) {
      .inner-nav ul {
        text-align: center;
        padding: 0 0 0 0px;
        margin: 0 0 0 0px; } }
    .inner-nav ul li {
      color: white;
      display: inline-block;
      margin: 30px 3% 25px 3%;
      font-size: 1.5em;
      line-height: .95em;
      font-family: 'Abril Fatface', cursive; }
      @media screen and (max-width: 550px) {
        .inner-nav ul li {
          font-size: 1.1em;
          margin: 30px 3% 0 3%;
          color: white; } }
      @media screen and (min-width: 985px) {
        .inner-nav ul li {
          margin-top: 2px;
          margin-bottom: 2px;
          margin-left: -50px;
          display: block;
          font-size: 2em;
          line-height: 1em;
          position: relative;
          margin-right: -1%; } }
      @media screen and (min-width: 1212px) {
        .inner-nav ul li {
          font-size: 2.3em;
          margin-left: -50px;
          margin-right: -1%; } }

.inner-nav ul li {
  color: #082419;
  text-decoration: none; }
  .inner-nav ul li a:link,
  .inner-nav ul li a:visited,
  .inner-nav ul li a:focus,
  .inner-nav ul li a:visited {
    color: #082419;
    text-decoration: none; }
  .inner-nav ul li a:hover,
  .inner-nav ul li a:active {
    color: #E19093; }

.post-nav ul {
  display: block;
  text-align: center; }
  @media screen and (min-width: 985px) {
    .post-nav ul {
      margin-top: 250px; } }
  .post-nav ul li {
    list-style-type: none; }
    .post-nav ul li img {
      max-width: 35px; }

.work-title {
  margin-top: 18px;
  margin-left: 1%;
  padding-bottom: 4px;
  border-bottom: 1.5px solid black;
  display: inline-block;
  font-size: 1.25em;
  color: #072318; }

article.portfolio-item {
  float: left;
  display: block;
  margin-right: 3.59712%;
  width: 100%; }
  article.portfolio-item:last-child {
    margin-right: 0; }
  @media screen and (min-width: 800px) {
    article.portfolio-item {
      padding-left: 33.85417px; } }
  article.portfolio-item p:first-child {
    float: left;
    display: block;
    margin-right: 3.59712%;
    width: 100%;
    font-family: "futura-pt",sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    font-style: italic;
    color: #121212;
    margin-left: -2.8777%; }
    article.portfolio-item p:first-child:last-child {
      margin-right: 0; }
    @media screen and (max-width: 800px) {
      article.portfolio-item p:first-child {
        width: 100%;
        margin: auto; } }
  @media screen and (min-width: 800px) {
    article.portfolio-item p,
    article.portfolio-item h2,
    article.portfolio-item blockquote {
      float: left;
      display: block;
      margin-right: 3.59712%;
      width: 65.46763%;
      margin-left: 34.53237%; }
      article.portfolio-item p:last-child,
      article.portfolio-item h2:last-child,
      article.portfolio-item blockquote:last-child {
        margin-right: 0; } }
  article.portfolio-item img {
    width: 100%; }
    @media screen and (min-width: 800px) {
      article.portfolio-item img {
        float: left;
        display: block;
        margin-right: 3.59712%;
        width: 100%;
        margin-left: -57.55396%; }
        article.portfolio-item img:last-child {
          margin-right: 0; } }

.about p,
.about h3 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  @media screen and (max-width: 550px) {
    .about p,
    .about h3 {
      width: 100%;
      margin-left: 0%;
      margin-right: 0%; } }
.about img {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%; }

.side_blurb.about {
  margin-top: 50px; }
  @media screen and (max-width: 985px) {
    .side_blurb.about {
      display: none; } }
  .side_blurb.about img {
    max-width: 43px; }

p span .stronger {
  color: #231F20;
  font-family: "futura-pt",sans-serif;
  font-size: 1em;
  font-weight: 700px;
  font-style: regular;
  text-transform: uppercase;
  letter-spacing: 2px; }

#contact {
  text-align: center;
  margin-top: 20%; }
  #contact a:first-child,
  #contact a:first-child:hover,
  #contact a:first-child:active,
  #contact a:first-child:visited {
    color: #4A4A4A; }
  #contact p.social a:link,
  #contact p.social a:visited,
  #contact p.social a:active {
    color: #4A4A4A;
    text-decoration: none; }
  #contact p.social a:hover {
    color: #C6DDD6; }

article.blog-post {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto; }
  article.blog-post::after {
    clear: both;
    content: "";
    display: table; }
  article.blog-post .date {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed; }
    article.blog-post .date .date-inner {
      /*display: inline;
      margin-top: 5%;
      margin-left: 3%;
      padding-bottom: 10px;
      border-bottom: 1px solid #979797;
      font-family: "futura-pt",sans-serif;
      font-weight: 500;
      font-size: 1em;
      font-style: normal;*/
      margin-top: 18px;
      margin-left: 1%;
      padding-bottom: 6px;
      border-bottom: 1.5px solid black;
      display: inline-block;
      font-size: 1.25em;
      font-family: "futura-pt",sans-serif;
      font-weight: 500; }
  article.blog-post .blog-post-title {
    width: 100%;
    display: table;
    width: 100%;
    table-layout: fixed; }
    article.blog-post .blog-post-title h1 {
      margin: 30px 0 30px 50%;
      width: 55.70117%; }
      @media screen and (max-width: 800px) {
        article.blog-post .blog-post-title h1 {
          width: 90%;
          margin-left: auto;
          margin-right: auto; } }

.blog-post-body {
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
  width: 70.38%;
  margin: auto; }
  @media screen and (max-width: 800px) {
    .blog-post-body {
      width: 90%; } }
  .blog-post-body p {
    margin-top: 18px;
    margin-bottom: 18px; }

/*.work-title {
	margin-top: 20px;
	margin-left: 1%;
	padding-bottom: 10px;
	border-bottom: 2px solid black; 
	display: inline-block;
}

article.portfolio-item {
	//@include outer-countainer;
	@include span-columns(9 of 9);
		@include media($mid) {
			padding-left: $gutter;
			}
		p:first-child {
			@include span-columns (9 of 9);
   			font-family: "futura-pt",sans-serif;
   			font-weight: 400;
   			font-style: italic; 
   			@include shift(-.25)
		}

		p {
			@include media($mid) {
				@include span-columns(6 of 9);
				@include shift(3);
			}

		}
		img {
			width: 100%;
			@include media($mid) {
				@include span-columns(9 of 9);
				@include shift(-5)
			}
		}		
}
*/
.post-preview {
  margin-right: 2%;
  margin-left: 2%;
  border-bottom: solid #D8D8D8 1px; }
  .post-preview p {
    font-size: 1.2em; }
  .post-preview h2 {
    margin-top: 1%; }
  .post-preview h2 a {
    text-decoration: none; }
  .post-preview h2 a:link,
  .post-preview h2 a:visited,
  .post-preview h2 a:active,
  .post-preview h2 a:focus,
  .post-preview h2 a:visited {
    text-decoration: none;
    color: #231F20; }
  .post-preview h2 a:hover {
    color: #C6DDD6; }
  .post-preview .work-pic {
    float: right;
    width: 200px;
    height: 150px;
    margin-top: 10px; }

img {
  width: 100%; }

.post-preview nav.see-more {
  text-transform: uppercase;
  margin: 1.5% 0 2% 0; }
  .post-preview nav.see-more a,
  .post-preview nav.see-more a:link,
  .post-preview nav.see-more a:visited,
  .post-preview nav.see-more a:active,
  .post-preview nav.see-more a:focus,
  .post-preview nav.see-more a:visited {
    color: #082419;
    text-decoration: none; }
  .post-preview nav.see-more a:hover {
    color: #C6DDD6; }

body {
  font-size: 1em;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 400; }

h1 .title-inner {
  font-family: "futura-pt",sans-serif;
  font-size: 1.2em;
  color: #231F20;
  line-height: 60px;
  font-weight: 500;
  font-style: normal; }

h2 {
  font-family: "futura-pt",sans-serif;
  font-size: 1.5em;
  color: #121212;
  line-height: 44px;
  font-weight: 500;
  font-style: regular; }

.portfolio-item h2 {
  letter-spacing: 2px; }

p {
  font-size: 1.4em;
  color: #121212;
  line-height: 1.3em;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 400; }
  @media screen and (max-width: 550px) {
    p {
      font-size: 1.2em; } }
  p strong {
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 700px; }

.side_blurb {
  padding-left: 10%;
  padding-right: 10%; }
  @media screen and (max-width: 985px) {
    .side_blurb {
      text-align: center; } }
  .side_blurb p {
    font-size: 1.2em; }

.resume a,
.resume a:link,
.resume a:visited,
.resume a:active,
.resume a:focus,
.resume a:visited,
.post-body a,
.post-body a:link,
.post-body a:visited,
.post-body a:active,
.post-body a:focus,
.post-body a:visited,
.post-tile h2 a,
.post-tile h2 a:link,
.post-tile h2 a:visited,
.post-tile h2 a:active,
.post-tile h2 a:focus,
.post-tile h2 a:visited,
.side_blurb a,
.side_blurb a:link,
.side_blurb a:visited,
.side_blurb a:active,
.side_blurb a:focus,
.side_blurb a:visited,
.portfolio-item a,
.portfolio-item a:link,
.portfolio-item a:visited,
.portfolio-item a:active,
.portfolio-item a:focus,
.portfolio-item a:visited,
.blog-post-body a,
.blog-post-body a:link,
.blog-post-body a:visited,
.blog-post-body a:active,
.blog-post-body a:focus,
.blog-post-body a:visited {
  color: #231F20;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "futura-pt",sans-serif;
  font-weight: 500;
  font-style: regular !important;
  font-size: 1em; }
.resume a:hover,
.post-body a:hover,
.post-tile h2 a:hover,
.side_blurb a:hover,
.portfolio-item a:hover,
.blog-post-body a:hover {
  color: #C5DCD5; }

blockquote p {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1.2em;
  border-left: 2px solid #eee;
  color: #999d9e;
  line-height: 1.25em;
  font-family: "futura-pt",sans-serif;
  font-weight: 500;
  font-style: italic; }

blockquote.pullquote p {
  border-left: none;
  padding-left: 0;
  color: #7abf26;
  font-size: 2.125em;
  font-weight: 300;
  font-family: "futura-pt",sans-serif;
  font-weight: 400;
  font-style: italic; }

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* ==|== primary styles =====================================================
   Author: Luke Shumard (lukeshumard.com)
   ========================================================================== */
/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
@mediat screen and (min-width: 1174px) {
  #content {
    width: 962px;
    margin: 0 auto;
    display: block; } }
@media screen and (max-width: 1174px) {
  #content {
    margin-left: 0px;
    width: 962px;
    margin: 0 auto; } }
@media screen and (max-width: 980px) {
  #content {
    width: 640px;
    margin: 0 auto;
    display: block; } }
@media screen and (max-width: 660px) {
  #content {
    width: 320px;
    margin: 0 auto;
    display: block; } }
.fun_box {
  width: 962px;
  box-sizing: border-box;
  border: solid black 1px;
  margin: auto; }

.item {
  display: block;
  float: left;
  width: 300px;
  margin: 0 20px 20px 0;
  -webkit-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -moz-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -ms-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  -o-transition: left .4s ease-in-out, top .4s ease-in-out .4s;
  transition: left .4s ease-in-out, top .4s ease-in-out .4s; }

.featured {
  width: 620px; }

.item img {
  width: 300px;
  height: auto; }

.featured img {
  width: 620px;
  height: auto; }

@media screen and (max-width: 660px) {
  .featured img {
    width: 300px; } }

/*# sourceMappingURL=style.css.map */
