{% capture content %}


<article class="blog-post">


    <div class="date">
        <div class="date-inner">{{post.date | date: "%b %d, %Y"}}</div>
    </div>

    
        <div class="post-title">
            <h1>{{ title }}</h1>
        </div>
        <div class="post-body">

            {{ body }}

        </div>

</article>

<br>
<br>
<br>

{% include 'includes/disqus' %}





{% endcapture %}











{% capture sidebar_content %}
    <nav class="post-nav">
    	<ul>
       <li> {% if previous %}<a href="{{ current.previous.url }}"><img src="/images/forward_arrow.png" alt=""></a>{% endif %}</li>
        <li>{% if next %}<a href="{{ current.next.url }}"><img src="/images/back_arrow.png" alt=""></a>{% endif %}</li>
        </ul>
    </nav>
{% endcapture %}

{% include 'layouts/default' %}
