<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{site.title}} | {{title}}</title>
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="main.css">
</head>
<body>
<div class="container">
      <div class="nav-main container">
        <div class="inner-nav">
           <ul class="menu-pages">
      			{% for page in site.pages %}
        			<li>
        				<a href="{{page.url}}"{% if page.url == url %} class="is-current-page"{% endif %}>{{page.title}}</a>
        			</li>
      			{% endfor %}
      		</ul>
        </div>
      </div>
      <div class="content-main container">
        <div class="container">

          {{ content }}

        </div>
      </div>
      <div class="nav-selection container">
      	  
        {{ sidebar_content }}

      </div>
    </div>  
</body>
</html>