<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{site.title}} | {{title}}</title>
  <script src="//use.typekit.net/gkv3dap.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<div class="wrapper">
      <div class="nav-main">
        <div class="inner-nav">
           <ul>
      			{% for page in site.pages %}
        			<li>
        				<a href="{{page.url}}"{% if page.url == url %} class="is-current-page"{% endif %}>{{page.title}}</a>
        			</li>
      			{% endfor %}
      		</ul>
        </div>
      </div>
      <div class="content-main">
        <div class="wrapper">

          {{ content }}

        </div>
      </div>
      <div class="nav-selection">
      	  
        {{ sidebar_content }}

      </div>
    </div>  
</body>
</html>